<div id="body">
    <form id="getTriangleForm" method="post">
        <h3>Get Triangle</h3>
        <p>
            <label for="Row">Row ID:</label>
            <input type="text" name="Row" id="Row" />
        </p>
        <p>
            <label for="Column">Column Number:</label>
            <input type="number" name="Column" id="Column"/>
        </p>
        <p>
            <label for="V1X">V1.X:</label>
            <input type="number" name="V1X" id="V1X"/>
            <label for="V1Y">V1.Y:</label>
            <input type="number" name="V1Y" id="V1Y"/>
        </p>
        <p>
            <label for="V2X">V2.X:</label>
            <input type="number" name="V2X" id="V2X"/>
            <label for="V2Y">V2.Y:</label>
            <input type="number" name="V2Y" id="V2Y"/>
        </p>
        <p>
            <label for="V3X">V3.X:</label>
            <input type="number" name="V3X" id="V3X"/>
            <label for="V3Y">V3.Y:</label>
            <input type="number" name="V3Y" id="V3Y"/>
        </p>
        <input type="button" id="getBtn" value="Get" />
    </form>
    <div id="result">
    </div>
</div>


@section scripts{
    <script type="text/javascript">
$(function()
{
    //Get a triangle
    $('#getBtn').click(function () {
        //Construct request object from form values
        var t = JSON.stringify(
        {     
            'Row': $('#Row').val(),
            'Column': $('#Column').val(),
            'Corners':
            {
                'V1': { 'X': $('#V1X').val(), 'Y': $('#V1Y').val() },
                'V2': { 'X': $('#V2X').val(), 'Y': $('#V2Y').val() },
                'V3': { 'X': $('#V3X').val(), 'Y': $('#V3Y').val() }
            }
            });
        console.log('request object: ', t);
        //Make http call to web api, which knows what values to compute based upon input
        $.ajax({
            url: '/api/tiles',
            type: 'POST',
            contentType: 'application/json',
            success:
                function (value) {
                    console.log(JSON.stringify(value));
                    $('#result').append(JSON.stringify(value) + '<br>');
                }
            ,
            error: function (request, message, error) {
                console.log(message);
              
            },
            data: t
        });     
    });
}); 
    </script>
}
